include ./../../../node_modules/bemto.jade/bemto

doctype html
html(lang='ru')
    include ../head/head

    +b('body').page

        if(symbols)
            |%=symbols=%

        if(!pageContainerNot)
            +e.__container
                block content

        if(pageContainerNot)
            block content

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')

